.header-link {
    display: flex;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    justify-content: flex-end;
    
}

.header-link.-text {
    margin-right: 15px;
}

.header-link a {
    
}